  <div class="container">
    <hr />
    <footer>
      <%= resources.footer.translate("copyright")%>
    </footer>
  </div>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
<script type='text/javascript'>
(function() {
    var c = document.createElement('script'); 
    c.type = 'text/javascript';
    c.async = true;
    c.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.clicki.cn/boot/46449';
    var h = document.getElementsByTagName('script')[0];
    h.parentNode.insertBefore(c, h);
})();
</script>
</body>
</html>