<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9">
        <div class="hero-unit">
          <div class="logo">
            <span class="logo_hanzi">沪</span>JS<span class="logo_dot"> • </span>2012
          </div>
          <h1><%= resources.translate("date_city")%></h1>
          <p><%= resources.translate("introduction")%></p>
          <h2><%- resources.translate("hashtag")%></h2>
        </div>
        <p class="lead"></p>
      </div>
      <div class="span3">
        <% include sidebar%>
      </div>
    </div>
  </div>
</div>
<% include footer %>