<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="hero-unit">
          <div class="logo">
            <% include logo %>
          </div>
          <h1><%= resources.view.translate("date_city")%></h1>
          <p><%= resources.view.translate("introduction")%></p>
          <h2><%- resources.view.translate("hashtag")%></h2>
        </div>
        <h2>会议简介</h2>
        <p>
沪JS 2012 是一次以JavaScript和Node.js技术为主题为期三天的会议(两天)和编程马拉松（一天）。这次关注于软件研发者的盛会将偕同中国国内与国际上JavaScript社区业界的知名人士，共同分享他们的专业知识与对JavaScript 的热情。此会将于九月14－16日在上海举行。
        </p>

        <h2>会议目标</h2>
        <p>
此次会议有三个主要目标。首要目标是引进国际上JavaScript社区内业界知名人士去中国介绍与Node.js和客户端的JavaScript相关的深层次技术话题。第二目标是促进中国的Javascript研发者与国际社区接轨，打破语言界限共同分享专业知识和个人激情。最后，第三个目标是为超过200名JavaScript研发者提供时间与空间，与他们的国际同行共同编写开放源代码程序，其关注于翻译文档，改善对软件国际化的支持并且分享这些项目发展前景的构想。
        </p>
      </div>
<!--      <div class="span3">
        <% include sidebar%>
      </div> -->
    </div>
  </div>
</div>
<% include footer %>