<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9 page" id="<%=page.id %>">
        <header>
          <h1><%=page.title %></h1>
        </header>
        <hr />
        <div class="content">
          <%-page.content %>
        </div>
      </div>
      <div class="span3">
        <% include sidebar %>
      </div>
    </div>
  </div>
<% include footer %>