<% include header %>
  <div class="container">
    <section class="page_wrapper">
      <article class="page" id="<%=page.id %>">
        <header>
          <h1><%=page.title %></h1>
        </header>
        <hr />
        <div class="content">
          <%-page.content %>
        </div>
      </article>
    </section>
  </div>
<% include footer %>