<div class="well">
  <h3>
  参与投票
  </h3>
  <div>
  沪JS正在邀请国内外的JavaScript大牛，诚邀您参与调查问卷，我们将为您邀请心仪的话题和嘉宾
  <a class="btn btn-primary" href="/survey">参与调查问卷 »</a>
  </div>
  <hr />
  <h3>
  查看正式话题
  </h3>
  <div>
  目前我们已经确定了部分国内外的JavaScript大牛，他们为我们带来一批相当有含金量的话题
  <a class="btn btn-primary" href="/speakers">查看正式话题 »</a>
  </div>
</div>
