<% include header %>
<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span9 page">
        <header>
          <h1><%=news.title %></h1>
          <span><%= resources.general.translate("Date")%>: <%=news.date.toLocaleDateString() %></span>
        </header>
        <hr />
        <div class="content">
          <%-news.content %>
        </div>
      </div>
      <div class="span3">
        <% include sidebar %>
      </div>
    </div>
  </div>
</div>
<% include footer %>
